//          ## MENU ARBOL | CONTACTO
// ######################################################################

//FONDO
      $contacto-fondo:                                           '' !default;
      $contacto-fondo_paddig:                                    '' !default;
      $contacto-fondo_borde:                                     '' !default;

//CAMPOS
      $contacto-campos_color:                                    #fffff5 !default;
      $contacto-campos_borde:                                    1px solid #eae9e9 !default;
      $contacto-campos_placeholder:                              #fffff8 !default;
      $contacto-campos_texto:                                    #fffff8 !default;

//CAMPOS REQUERIDOS
      $contacto-campos_requeridos:                               #b94a48 !default;

//MAPA
      $contacto-mapa_borde:                                      '0' !default;

//BOTON
      $contacto-botones_fondo:                                   #fffff5 !default;
      $contacto-botones_texto:                                   #fffff8 !default;


// DATOS LATERAL
    // color
      $contacto-datos_titulo_color:                               #fffff8 !default;
      $contacto-datos_texto_color:                                #fffff8 !default;

      $contacto-datos_iconos:                                    #fffff5 !default;
      $contacto-datos_lineas:                                    #fffff5 !default;
    // Texto
      $contacto-datos_titulo_font:                                1 !default;
      $contacto-datos_titulo_size_l:                              bold .8rem/1rem !default;
      $contacto-datos_titulo_size_d:                              0 !default;
      $contacto-datos_titulo_size_t:                              0 !default;
      $contacto-datos_titulo_size_m:                              0 !default;

      $contacto-datos_texto_font:                                2 !default;
      $contacto-datos_texto_size_l:                              .8rem/1.2rem !default;
      $contacto-datos_texto_size_d:                              0 !default;
      $contacto-datos_texto_size_t:                              0 !default;
      $contacto-datos_texto_size_m:                              0 !default;


// DESCRIPCION
    // color
      $contacto-descripcion_titulo_color:                        #fffff8 !default;
      $contacto-descripcion_texto_color:                         #fffff8 !default;


    // Texto
      $contacto-descripcion_titulo_font:                         1 !default;
      $contacto-descripcion_titulo_size_l:                       1.4em/1em !default;
      $contacto-descripcion_titulo_size_d:                       0 !default;
      $contacto-descripcion_titulo_size_t:                       0 !default;
      $contacto-descripcion_titulo_size_m:                       0 !default;



      $contacto-descripcion_texto_font:                          2 !default;
      $contacto-descripcion_texto_size_l:                        1rem/1.3rem !default;
      $contacto-descripcion_texto_size_d:                        0 !default;
      $contacto-descripcion_texto_size_t:                        0 !default;
      $contacto-descripcion_texto_size_m:                        0 !default;
