

// base



// body
    $body-background: '' !default;
    $body-background-image: '' !default;
    $body-background-repeat: '' !default;
    $body-background-size: '' !default;
    $body-image-mover: '' !default;


// top
    $top-background-color: '' !default;
    $top-text_font: '2' !default;
    $top-text_size_l: '1.4rem/1' !default;
    $top-text_size_d: '' !default;
    $top-text_size_t: '' !default;
    $top-text_size_m: '' !default;
    $top-text-color: '' !default;
    $top-iconos: '' !default;
    $top-social-icons: '' !default;
    $top-f-social-icons: '' !default;
    $top-social-border-color: '' !default;
    $top-social-border-ancho: '' !default;
    $top-background-image: '' !default;
    $top-background-repeat: '' !default;
    $top-background-size: '' !default;
    $top-background-position: '' !default;


// navigation
    $navigation-background_color: '' !default;
    $navigation-background_image: '' !default;
    $navigation-background_repeat: '' !default;
    $navigation-background_size: '' !default;
    $navigation-background_position: '' !default;
    $navigation-text-color: '' !default;
    $navigation-color-active: '' !default;
    $navigation-linea-inferior: '' !default;
    $navigation-sub-menu-background: '' !default;
    $navigation-sub-menu-texto: '' !default;
    $navigation-sub-menu-texto-hover: '' !default;
    $navigation-menu_font: '' !default;
    $navigation-menu_size_l: '' !default;
    $navigation-menu_size_d: '' !default;
    $navigation-menu_size_t: '' !default;
    $navigation-menu_size_m: '' !default;
    $navigation-submenu_font: '' !default;
    $navigation-submenu_size_l: '' !default;
    $navigation-submenu_size_d: '' !default;
    $navigation-submenu_size_t: '' !default;
    $navigation-submenu_size_m: '' !default;
    $navigation-background-buscar: '' !default;
    $navigation-texto-buscar: '' !default;


// p3 Showcase
    $p3-background_color: '' !default;
    $p3-background_image: '' !default;
    $p3-background_repeat: '' !default;
    $p3-background_size: '' !default;
    $p3-background_position: '' !default;
