@mixin background-image-tdweb($image, $repeat, $size, $position) {
  @if $image == '' {}
  @else {
    background-image: url($image);
  }
  @if $repeat == '' {}
  @else if $repeat == '0' {}
  @else {
    background-repeat: (#{$repeat});
  }
  @if $size == '' {}
  @else if $size == '0' {}
  @else {
    background-size: (#{$size});
  }
  @if $position == '' {}
  @else {
    background-position: $position;
  }
}



@mixin background-color-tdweb($bg-color: $bg-color2, $efecto: $efecto2, $porcent: $porcent2,$importante: $importante) {
  @if $importante == '' {
  }@else{
    $important: !important;
  }
  @if $efecto == 0 {
    @if $bg-color == #fffff1 {
      background-color: $accent-color-1 $important;
    }
    @else if $bg-color == #fffff2 {
      background-color: $accent-color-2 $important;
    }
    @else if $bg-color == #fffff3 {
      background-color: $accent-color-3 $important;
    }
    @else if $bg-color == #fffff4 {
      background-color: $accent-color-4 $important;
    }
    @else {
      background-color: $bg-color $important;
    }
  }
  @if $efecto == 1 {
    @if $bg-color == #fffff1 {
      background-color: shade($accent-color-1, $porcent) $important;
    }
    @else if $bg-color == #fffff2 {
      background-color: shade($accent-color-2, $porcent) $important;
    }
    @else if $bg-color == #fffff3 {
      background-color: shade($accent-color-3, $porcent) $important;
    }
    @else if $bg-color == #fffff4 {
      background-color: shade($accent-color-4, $porcent) $important;
    }
    @else {
      background-color: shade($bg-color, $porcent) $important;
    }
  }
  @if $efecto == 2 {
    @if $bg-color == #fffff1 {
      background-color: tint($accent-color-1, $porcent) $important;
    }
    @else if $bg-color == #fffff2 {
      background-color: tint($accent-color-2, $porcent) $important;
    }
    @else if $bg-color == #fffff3 {
      background-color: tint($accent-color-3, $porcent) $important;
    }
    @else if $bg-color == #fffff4 {
      background-color: tint($accent-color-4, $porcent) $important;
    }
    @else {
      background-color: tint($bg-color, $porcent) $important;
    }
  }
  @if $efecto == 3 {
    @if $bg-color == #fffff1 {
      background-color: transparentize($accent-color-1, $porcent) $important;
    }
    @else if $bg-color == #fffff2 {
      background-color: transparentize($accent-color-2, $porcent) $important;
    }
    @else if $bg-color == #fffff3 {
      background-color: transparentize($accent-color-3, $porcent) $important;
    }
    @else if $bg-color == #fffff4 {
      background-color: transparentize($accent-color-4, $porcent) $important;
    }
    @else {
      background-color: transparentize($bg-color, $porcent) $important;
    }
  }

  @if $efecto == 4 {
    @if $bg-color == #fffff1 {
      background-color: adjust-hue($accent-color-1, $porcent) $important;
    }
    @else if $bg-color == #fffff2 {
      background-color: adjust-hue($accent-color-2, $porcent) $important;
    }
    @else if $bg-color == #fffff3 {
      background-color: adjust-hue($accent-color-3, $porcent) $important;
    }
    @else if $bg-color == #fffff4 {
      background-color: adjust-hue($accent-color-4, $porcent) $important;
    }
    @else {
      background-color: adjust-hue($bg-color, $porcent) $important;
    }
  }
  @if $bg-color == #fffff5 {
    background-color: $accent-color-5 $important;
  }
  @else if $bg-color == #fffff6 {
    background-color: $accent-color-6 $important;
  }
  @else if $bg-color == #fffff7 {
    background-color: $accent-color-7 $important;
  }
  @else if $bg-color == #fffff8 {
    background-color: $accent-color-8 $important;
  }

}


@function colorComodin($color) {
  @if $color == #fffff1 {
    $colorN: $accent-color-1;
  }
  @else if $color == #fffff2 {
    $colorN: $accent-color-2;
  }
  @else if $color == #fffff3 {
    $colorN: $accent-color-3;
  }
  @else if $color == #fffff4 {
    $colorN: $accent-color-4;
  }
  @else if $color == #fffff5 {
    $colorN: $accent-color-5;
  }
  @else if $color == #fffff6 {
    $colorN: $accent-color-6;
  }
  @else if $color == #fffff7 {
    $colorN: $accent-color-7;
  }
  @else if $color == #fffff8 {
    $colorN: $accent-color-8;
  }
  @else {
    $colorN: $color;
  }
  @return $colorN;
}

@mixin color-tdweb($color:$color2, $efecto:$efecto2, $porcent:$porcent2,$importante:$importante) {
  @if $importante == ''  {
  }@else{
    $important: !important;
  }
  @if $efecto == 0 {
    @if $color == #fffff1 {
      color: $accent-color-1 $important;
    }
    @else if $color == #fffff2 {
      color: $accent-color-2 $important;
    }
    @else if $color == #fffff3 {
      color: $accent-color-3 $important;
    }
    @else if $color == #fffff4 {
      color: $accent-color-4 $important;
    }
    @else {
      color: $color $important;
    }
  }
  @if $efecto == 1 {
    @if $color == #fffff1 {
      color: shade($accent-color-1, $porcent) $important;
    }
    @else if $color == #fffff2 {
      color: shade($accent-color-2, $porcent) $important;
    }
    @else if $color == #fffff3 {
      color: shade($accent-color-3, $porcent) $important;
    }
    @else if $color == #fffff4 {
      color: shade($accent-color-4, $porcent) $important;
    }
    @else {
      color: shade($color,$porcent) $important;
    }
  }
  @if $efecto == 2 {
    @if $color == #fffff1 {
      color: tint($accent-color-1,$porcent) $important;
    }
    @else if $color == #fffff2 {
      color: tint($accent-color-2,$porcent) $important;
    }
    @else if $color == #fffff3 {
      color: tint($accent-color-3,$porcent) $important;
    }
    @else if $color == #fffff4 {
      color: tint($accent-color-4,$porcent) $important;
    }
    @else {
      color: tint($color,$porcent) $important;
    }
  }

  @if $efecto == 3 {
    @if $color == #fffff1 {
      color: transparentize($accent-color-1, $porcent) $important;
    }
    @else if $color == #fffff2 {
      color: transparentize($accent-color-2, $porcent) $important;
    }
    @else if $color == #fffff3 {
      color: transparentize($accent-color-3, $porcent) $important;
    }
    @else if $color == #fffff4 {
      color: transparentize($accent-color-4, $porcent) $important;
    }
    @else {
      color: transparentize($color, $porcent) $important;
    }
  }
  @if $efecto == 4 {
    @if $color == #fffff1 {
      color: adjust-hue($accent-color-1, $porcent) $important;
    }
    @else if $color == #fffff2 {
      color: adjust-hue($accent-color-2, $porcent) $important;
    }
    @else if $color == #fffff3 {
      color: adjust-hue($accent-color-3, $porcent) $important;
    }
    @else if $color == #fffff4 {
      color: adjust-hue($accent-color-4, $porcent) $important;
    }
    @else {
      color: adjust-hue($color, $porcent) $important;
    }
  }
  @if $color == #fffff5 {
    color: $accent-color-5 $important;
  }
  @else if $color == #fffff6 {
    color: $accent-color-6 $important;
  }
  @else if $color == #fffff7 {
    color: $accent-color-7 $important;
  }
  @else if $color == #fffff8 {
    color: $accent-color-8 $important;
  }
}



@mixin font-family-tdweb ($font:$font2, $size-l:$size-l2, $size-d:$size-d2, $size-t:$size-t2, $size-m:$size-m2) {
  @if $font == 'icon' {
    @if $size-l == 0 {}
    @else {
      font: normal normal normal $size-l FontAwesome;
    }
    @if $size-d == 0 {}
    @else {
      @include breakpoint(desktop-range) {
        font: normal normal normal $size-d FontAwesome;
      }
    }
    @if $size-t == 0 {}
    @else {
      @include breakpoint(tablet-range) {
        font: normal normal normal $size-t FontAwesome;
      }
    }
    @if $size-m == 0 {}
    @else {
      @include breakpoint(mobile-only) {
        font: normal normal normal $size-m FontAwesome;
      }
    }
  }
  @if $font == 0 {
    @if $size-l == 0 {}
    @else {
      font: $size-l get-font-family($font2);
    }
    @if $size-d == 0 {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($font2);
      }
    }
    @if $size-t == 0 {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($font2);
      }
    }
    @if $size-m == 0 {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($font2);
      }
    }
  }
  @if $font == 1 {
    @if $size-l == 0 {}
    @else {
      font: $size-l get-font-family($font1);
    }
    @if $size-d == 0 {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($font1);
      }
    }
    @if $size-t == 0 {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($font1);
      }
    }
    @if $size-m == 0 {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($font1);
      }
    }
  }
  @if $font == 2 {
    @if $size-l == 0 {}
    @else {
      font: $size-l get-font-family($font2);
    }
    @if $size-d == 0 {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($font2);
      }
    }
    @if $size-t == 0 {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($font2);
      }
    }
    @if $size-m == 0 {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($font2);
      }
    }
  }
  @if $font == 3 {
    @if $size-l == 0 {}
    @else {
      font: $size-l get-font-family($font3);
    }
    @if $size-d == 0 {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($font3);
      }
    }
    @if $size-t == 0 {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($font3);
      }
    }
    @if $size-m == 0 {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($font3);
      }
    }
  }
}
