@mixin background-image-tdweb($color, $image, $repeat, $size, $position) {
  @if $color == #fffff1 {
    background-color: $accent-color-1;
  }
  @else if $color == #fffff2 {
    background-color: $accent-color-2;
  }
  @else if $color == #fffff3 {
    background-color: $accent-color-3;
  }
  @else if $color == #fffff4 {
    background-color: $accent-color-4;
  }
  @else {
    background-color: $color;
  }
  @if $image == '' {}
  @else {
    background-image: url($image);
  }
  @if $repeat == '' {}
  @else if $repeat == '0' {}
  @else {
    background-repeat: (#{$repeat});
  }
  @if $size == '' {}
  @else if $size == '0' {}
  @else {
    background-size: (#{$size});
  }
  @if $position == '' {}
  @else {
    background-position: $position;
  }
}
@mixin background-color-tdweb($bg-color) {
  @if $bg-color == #fffff1 {
    background-color: $accent-color-1;
  }
  @else if $bg-color == #fffff2 {
    background-color: $accent-color-2;
  }
  @else if $bg-color == #fffff3 {
    background-color: $accent-color-3;
  }
  @else if $bg-color == #fffff4 {
    background-color: $accent-color-4;
  }
  @else {
    background-color: $bg-color;
  }
}
@mixin color-tdweb($color) {
  @if $color == #fffff1 {
    color: $accent-color-1;
  }
  @else if $color == #fffff2 {
    color: $accent-color-2;
  }
  @else if $color == #fffff3 {
    color: $accent-color-3;
  }
  @else if $color == #fffff4 {
    color: $accent-color-4;
  }
  @else if $color == '' {}
  @else {
    color: $color;
  }
}
@mixin font-family-tdweb ($font, $size-l, $size-d, $size-t, $size-m) {
  @if $font == '' {
    @if $size-l == '' {}
    @else {
      font: $size-l get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    }
    @if $size-d == '' {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
  }
  @if $font == '0' {
    @if $size-l == '' {}
    @else {
      font: $size-l get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    }
    @if $size-d == '' {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($base-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
  }
  @if $font == '1' {
    @if $size-l == '' {}
    @else {
      font: $size-l get-font-family($base-heading-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    }
    @if $size-d == '' {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($base-heading-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($base-heading-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($base-heading-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
  }
  @if $font == '2' {
    @if $size-l == '' {}
    @else {
      font: $size-l get-font-family($base-body-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    }
    @if $size-d == '' {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($base-body-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($base-body-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($base-body-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
  }
  @if $font == '3' {
    @if $size-l == '' {}
    @else {
      font: $size-l get-font-family($base-extra-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    }
    @if $size-d == '' {}
    @else {
      @include breakpoint(desktop-range) {
        font: $size-d get-font-family($base-extra-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(tablet-range) {
        font: $size-t get-font-family($base-extra-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
    @if $size-t == '' {}
    @else {
      @include breakpoint(mobile-only) {
        font: $size-m get-font-family($base-extra-font), "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      }
    }
  }
}
