/********************************************************
    TODO ESTO SE COMPILARÃ EN EL CUSTOM.CSS DE ISIS SIIII
	
********************************************************/
#content > div > div > div.span12 .copyright, .com_cck .header{ display:none !important;}
.admin.com_cck.view-form {background-color: #F0F0F0 !important;}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import'admin_responsive';
@import 'panel_admin_base';

/********************************************************/

//Slider dentist Admin
//@import '../../../../seb_minima/positions/slider_dentist/scss/_slider_dentist_admin.scss';


//Equipo dentist Admin
//@import '../../../../seb_minima/positions/destist_equipo/scss/_dentist_equipo_admin.scss';
//@import '../../../../seb_minima/positions/destist_equipo/admin/_infoWeb.scss';
