/********************************************************
                BACK - CUSTOM  ISIS
********************************************************/
#content > div > div > div.span12 .copyright, .com_cck .header{ display:none !important;}
.admin.com_cck.view-form {background-color: #F0F0F0 !important;}
div.seb_css3{ background-color:transparent !important;}
@import'back_responsive';
@import 'back';
@import 'infoWeb';



/********************************************************
  RUTAS DESDE SEBLOD  - 4 hacia atrás ../../../../
********************************************************/
/*@import '../../../../seb_minima/positions';*/
/*@import '../../../../seb_minima/positions';*/