/********************************************************
    TODO ESTO SE COMPILARÃ EN EL CUSTOM.CSS DE ISIS SIIII
	
********************************************************/
#content > div > div > div.span12 .copyright, .com_cck .header{ display:none !important;}
.admin.com_cck.view-form {background-color: #F0F0F0 !important;}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import'back_responsive';
@import 'back';
@import 'infoWeb';

/********************************************************/

//Rutas hacia Seblod
/*@import '../../../../seb_minima/positions/_________________';*/

