/*  */
$var40:          $contacto-datos_titulo_color;
$var41:          $contacto-datos_texto_color;


/* contato-datos_titulo | tipografía y tamaño */
$var50:        $contacto-datos_titulo_font;
$var51:        $contacto-datos_titulo_size_l;
$var52:        $contacto-datos_titulo_size_d;
$var53:        $contacto-datos_titulo_size_t;
$var54:        $contacto-datos_titulo_size_m;

/* contacto-datos_texto | tipografía y tamaño */
$var60:        $contacto-datos_texto_font;
$var61:        $contacto-datos_texto_size_l;
$var62:        $contacto-datos_texto_size_d;
$var63:        $contacto-datos_texto_size_t;
$var64:       $contacto-datos_texto_size_m;


$rule-color: $accent-color-1;
.g-contact {
	.g-contact-item {
		position: relative;
		padding-left: 50px;
		margin-bottom: 1.5rem;
		@include breakpoint(tablet-range) {
			padding-left: 0;
		}
		.dir-rtl & {
			padding-left: 0;
			padding-right: 50px;
		}
	}
	.g-contact-icon {
		position: absolute;
		left: 0;
		font-size: 1.25rem;
		border-right: 1px solid $rule-color;
		width: 35px;
		height: 45px;
		line-height: 45px;
		@include breakpoint(tablet-range) {
			margin-top:10px;
			border:none !important;
		}
		& .fa{
			color:$accent-color-1;
		}
		.dir-rtl & {
			left: auto;
			right: 0;
			border-left: 1px solid $rule-color;
			border-right: 0;
		}
	}
	.g-contact-label {
		text-transform: uppercase;
		@include color-tdweb ($var40,0,0);
		@include font-family-tdweb($var50,$var51,$var52,$var53,$var54);
		font-weight: bold;
	}
	.g-contact-text {
		margin-top:5px;
		@include color-tdweb ($var41,0,0);
		@include font-family-tdweb($var60,$var61,$var62,$var63,$var64);
		@include breakpoint(tablet-range) {
			margin-top:10px;
		}
	}
	// Compact Mode
	&.g-contact-compact {
		.g-contact-item {
			padding-left: 0;
			margin-bottom: 0;
		}
		.g-contact-label {
			display: none;
		}
		.g-contact-text {
			font-weight: normal;
		}
	}
	// Map
	.g-contact-map {
		position: relative;
		display: block;
	}
	.g-contact-map-overlay {
		&:before {
		    background: fadeout($footer-background, 25%);
		    bottom: 0;
		    content: "";
		    left: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
		    @include transition(background 0.2s);
		}
		&:hover {
			&:before {
				background: fadeout($accent-color-1, 75%);
			}
		}
	}
	.g-contact-map-marker {
		color: $accent-color-1;
	    font-size: 3rem;
	    position: absolute;
	}
}
